body {
  background-color: green;
}

img {
  width: 100%;
}

.carDiv {
  width: 10rem;
}

.rotate-25-left {
  transition: transform 0.5s;
  transform: rotate(-0.25turn);
}

.rotate-25-right {
  transition: transform 0.5s;
  transform: rotate(0.25turn);
}

.rotate-180-left {
  transition: transform 0.5s;
  transform: rotate(-0.5turn);
}

.rotate-180-right {
  transition: transform 0.5s;
  transform: rotate(0.5turn);
}
