body {
  background-color: green;
}

img {
  width: 100%;
}

.car {
  width: 10rem;
}

.face-north {
  transition: transform 0.5s;
  transform: rotate(-0.25turn);
}

.face-east {
  transition: transform 0.5s;
  transform: rotate(0deg);
}

.face-west {
  transition: transform 0.5s;
  transform: rotate(-0.5turn);
}

.face-south {
  transition: transform 0.5s;
  transform: rotate(0.25turn);
}
